
<link rel="stylesheet" href="css/style.css">
<div class="keep">
    <h1 id="homehead">Secret keeper</h1>
    {{!-- <div class="logo"><img src="secret.png" alt=""></div> --}}
   <div class="items">
    <img id="logo" src="secret.png" alt="" srcset="">
  </div>  
  <div class="btn">      
       <button><a href="/login" role="button">Login</a></button> <br>
       <button><a href="/register" role="button" >Siginup</a></button> 
  </div>
</div>
