 {{> header}}
<div class="center">
    <h1>Signup</h1>
      <form action="/register" method="post">
        {{!-- <div class="txt_field">
          <input type="text" name="username" required>
          <span></span>
          <label>username</label>
        </div> --}}
        <div class="txt_field">
          <input type="text" name="username" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Signup">
        <div class="signup_link">
         <a href="#"></a>
        </div>
       <div class="signup_link">
           <a href="#"></a>
        </div> 
      </form>
    </div>
    <div class="card">
      <div class="google-block">
        <div class="card-body">
          <img id="g-img" src="google.png" alt="img" >
          <a class="btn" href="/auth/google" role="button">
            <i class="google"></i>
            Sign Up with Google
          </a>
        </div>
        <br>
        <div class="facebook-body">
          <img id="f-img" src="facebook.png" alt="img">
          <a class="btn" href="/auth/facebook" role="button">
            <i class="google"></i>
            Sign Up with Facebook
          </a>
        </div>
      </div>
    </div> 
{{> footer}}
