

{{!-- <form action="/logout" method="get">
    <input type="submit" name="logout" value="Log Out">
    <input type="submit" name="submit" value="Submit Secret">
</form>  --}}

<div class="center">
    <div class="btn white">
        <a href="/logout" type="button"> Logout</a>
    </div>      
    <div class="btn white">  
        <a href="/submit" type="button">Submit Secret</a>
    </div>
    <div class="btn red">      
        <a href="/delete" type="button">Delete Secret</a>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        {{!-- <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div> --}}
       <div class="card-content white-text"></div>    
           {{#each usersWithSecrets as |user|}}
             {{#user}}
                <p>{{user.secret}}</p>
             {{/user}}
          {{/each}}         
        </div>  
  
        <div class="card-action">
          <span id="like-count">19</span>  
          <a href="#">like</a>
        </div>
      </div>
    </div>
</div>


{{#each usersWithSecrets as |user|}}
             {{#user}}
                <p>{{user.secret}}</p>
             {{/user}}
{{/each}}

{{!-- <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
</div> --}}

